---
---
@import url(https://use.typekit.net/wfu7yyr.css);

.usa-prose>h1, .usa-prose>h2, .usa-prose>h3, .usa-prose>h4, .usa-prose>h5 {
  font-family: "novel-pro", georgia, serif;
}

.usa-prose>p, .usa-prose>ul, .usa-prose>table, .usa-nav .usa-accordion {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif !important;
}

.usa-prose>ul>li>a, .usa-prose>p>a {
    padding: 0 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -5px 0 rgba(125,0,150,.35);
    box-shadow: inset 0 -5px 0 rgba(125,0,150,.35);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    transition: -webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    color: #551a8b;
  }

.usa-prose>ul>li>a:active, .usa-prose>ul>li>a:focus, .usa-prose>ul>li>a:hover, .usa-prose>p>a:active, .usa-prose>p>a:focus, .usa-prose>p>a:hover {
    -webkit-box-shadow: inset 0 -100px 0 0 rgba(125,0,150,.35);
    box-shadow: inset 0 -100px 0 0 rgba(125,0,150,.35);
    color: #551a8b;
}

.usa-nav {
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.brand-banner {
  background-image: url('{{site.url}}/assets/images/img-whatwedo-44aa6269e4baa58fdf5431a0aeac5d28.jpg');
  min-height: 12rem;
  height: 12rem;
  margin-top: .5rem;
}

.brand-banner img {
  position: absolute;
  top: 150px;
  right: 25px;
}

.usa-logo__text {
  font-family: "novel-pro", georgia, serif;
  letter-spacing: .0625rem;
}

.usa-logo__text::before {
  background-image: url('/assets/images/img-whatwedo-44aa6269e4baa58fdf5431a0aeac5d28.jpg');
}

.usa-current:after {
  background-color: #06c5bc !important;
}

.usa-navbar {
  border-bottom: none;
}
