<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="The purpose of this tool is to collaborate on and document and the practices and expectations of the UX Design Team at Bixal.">
  <title>Bixal UX Design Team Handbook</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/uswds-2.8.1/css/uswds.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tweaks.css" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/Bixal_Social_Icons_Teal_Purple.jpg" type="image/jpg" />
</head>

<body>

  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="basic-mega-logo">
          <em class="usa-logo__text"><a href="{{site.baseurl}}" title="Home" aria-label="Home">Bixal UX Design Team Handbook</a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button class="usa-nav__close"><img src="{{ site.baseurl }}/assets/img/close.svg" role="img" alt="close"></button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a class="usa-nav__link{% if page.nav == 'humans' %} usa-current{% endif %}" href="{{ site.baseurl }}/humans"><span>On Humans</span></a>
          </li>
          <li class="usa-nav__primary-item">
            <a class="usa-nav__link{% if page.nav == 'machines' %} usa-current{% endif %}" href="{{ site.baseurl }}/machines"><span>On Machines</span></a>
          </li>
          <li class="usa-nav__primary-item">
            <a class="usa-nav__link{% if page.nav == 'capabilities' %} usa-current{% endif %}" href="{{ site.baseurl }}/capabilities"><span>Capabilities</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<section class="brand-banner">
  <img src="{{ site.baseurl }}/assets/images/b-whatwedo.svg" height="240">
</section>

<div class="usa-section padding-top-2">

  <div class="grid-container">
    <div class="grid-row">

      <div class="grid-col-auto usa-prose">
        <p class="text-base">{{page.permalink}}</p>
        {{ content }}
      </div>

    </div>
  </div>

</div>
  <script src="{{ site.baseurl }}/assets/uswds-2.8.1/js/uswds.min.js"></script>
</body>

</html>
