<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Home</title>
  <link rel="stylesheet" href="{{ '/assets/uswds-2.8.1/css/uswds.min.css' | relative_url }}" />
</head>

<body>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-fill"></div>
      <div class="grid-col-8 usa-prose">
        {{ content }}
      </div>
      <div class="grid-col-fill"></div>
    </div>
  </div>
  <script src="assets/uswds-2.8.1/js/uswds.min.js"></script>
</body>

</html>
